@charset "UTF-8";
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background-attachment: fixed;

}

.nav-item a{
    font-size: 25px;
}

section h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.products {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    height: 450px;
    margin-left: 80px;
    background-color: #f5ece6;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin-left: 110px;
    width: 100px;
    border-radius: 20px;
}

footer {
    background-color: black;
    color: white;
    font-weight: 400;

}

img {
    width: 50%;
    margin-left: 90px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.page{
    width: 100%;
    height: 90vh;
}
.page-sign-in{

    margin: 60px auto;
    max-width: 600px;
    padding: 40px 20px;
    background:#f5ece6;
    border-radius: 15px;
    position: relative;
    text-shadow: none;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.31);
}

.page-sign-up{

    margin: 40px auto;
    max-width: 700px;
    padding: 40px 20px;
    background:#f5ece6;
    border-radius: 40px;
    position: relative;
    text-shadow: none;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.31);
    margin-bottom: 90px;
}


.form-group{
    display: flex;
    justify-content: space-between;
}

.form-group label{
    color:#000000;
    top:5px;
    position: relative;
    right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.page h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.page-sign-in .form-group button{

    margin-top: 45px;
    margin-left:145px;
    width: 110px;
    height: 50px;
    font-size: 24px;
    border-radius:3px;
    border: 2px solid black;
}
.page-sign-up .form-group button{

    margin-top: 45px;
    margin-left:125px;
    width: 280px;
    height: 50px;
    font-size: 24px;
    border-radius:3px;
    border: 2px solid black;
}

.form-group button:hover{
    background-color: #593316;
}

.page-sign-in .form-group a{
    margin-top: 25px;
    font-size: 20px;
    position:relative;
    margin-left:75px;
    color:#000;
}
.page-sign-up .form-group a{
    margin-top: 25px;
    font-size: 20px;
    position:relative;
    margin-left:185px;
    color:#000;
}
.form-group input {
    border: none;
    background-color: rgba(255,255,255,0);
    border-bottom: solid black;
    size: 3px;
    width: 300px;
    font-size: 20px;
    font-weight: 300;
}
.form-group .form-check-label{
    right: 150px;

}
.form-group .form-check-input{
    width: 30px;
    margin-left: -30px;
    top: 8px;
    position: relative;
    border: 1px solid black;
}


label{
    color:grey;

}
.form-group{
    margin-top: 30px;

}
h2{
    margin:0 auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 28px;
}


#submitButton{
    margin: 25px;
    width: 40%;
}
.form-check{
    margin-top: 20px;
}
.form-check-label{
    position: relative;
    left: 10px;
    top : 3px;
    color: grey;
}

.form-check-input:checked + .form-check-label{
    color: red;
}

.btn{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.form-check-label{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

#buttonAge{
    background-color: transparent;
    border: none;
    color: grey;
    margin-right: 5px;
}
.input-group span{
    position: relative;
    left: 5px;
    bottom: 0;
}

.custom-control{
    position: relative;
    display: block;
    margin-right: 150px;
}
.custom-control input{
    position: relative;
    margin-right: -273px;
    width: 300px;
    top: 5px;
}

.custom-control label{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
}
.product p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
}


#input-file-id{
    border: none;
}
.form-group .el{

}
textarea{
    width: 90%;
}