header{
   background-color: #f5ece6;
   font-size: 22px;
   font-weight: 400;
   font-family: 'Palanquin Dark', sans-serif;
}
html ,body{
   margin: 0;
   background-attachment: fixed;
   background-color: #f5ece6;
}
footer{
   background-color: #f5ece6;
}

.intro .navbar-brand{
   font-family: 'Palanquin Dark', sans-serif;
   font-size: 38px;
   font-weight: 700;
   margin-left:20px;
   color: #593316 ;
}


.d-flex a:hover{
   color:#747474;
   text-decoration: underline;
}

.d-flex a{

   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   font-weight: 400;
   margin-right:47px;
   color: #593316;
}
.breadcrumb{
   margin: 30px 0 0 600px;
   
}
.breadcrumb a{
   color: #000;
}

.info-about-product{
   display:flex;
   margin-top: 50px;
   margin-bottom: 100px;
}

.img-info img{
   width: 520px;
   margin-left: 80px;
}

.description-info{
   margin-left: 80px;
   width: 800px;
   border:thick double #000;
   padding: 10px;
   background-color:#f5ece6 ;
}
.description-info p{
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   font-weight: 600;
}
.description-info .name-product{
   font-size: 24px;
   font-weight: 700;
   font-style: normal;
   font-family: 'Montserrat', sans-serif;
}
.description-info p span{
   font-size: 22px;
   font-weight: 700;
   font-style: italic;
   margin-left: 10px;
   font-family: 'Montserrat', sans-serif;
}

.description-info .btn{
   margin-left: 300px;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
}
.more-products{
   margin-bottom: 60px;
}
.list-of-products{
   display: flex;
   margin-left: 120px;
}
.list-items{
   margin-left: 53px;
   margin-bottom: 30px;
}
.products-info img{
   width: 300px;
   margin-bottom: 10px;
}
.products-info{
   background-color: #f5ece6;
   width: 360px;
   height: 450px;
   border-radius: 20px;
}
.products-info img{
   margin-left: 30px;
   margin-top: 10px;
   border-radius: 10px;
}
.products-info .btn{
   margin-left: 120px;
   font-family: 'Montserrat', sans-serif;
}
.img-description{
   position: relative;
   font-size: 18px;
   color: #000;
   font-family: 'Montserrat', sans-serif;
}
.more-product-title{
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
}
.more-product-title-h3{
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   font-weight: 700;
   margin-bottom: 40px;
}
footer li a{
   color:#000;
}