header{
    background-color: #f5ece6;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Palanquin Dark', sans-serif;
}
html ,body{
    margin: 0;
    background-attachment: fixed;
    background-color: #f5ece6;
}
footer{
    background-color: #f5ece6;
}

.intro .navbar-brand{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-left:20px;
    color: #593316 ;
}


.d-flex a:hover{
    color:#747474;
    text-decoration: underline;
}

.d-flex a{

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-right:47px;
    color: #593316;
}

.img-background img{
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
}
.img-title-shop{
    position: absolute;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    top: 250px;
    left: 450px;
    color: white;
}

.img-title {

    position: absolute;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    top: 380px;
    left: 345px;
    color: white;
}

.img-background a{

    position: absolute;
    top: 500px;
    font-family: 'Montserrat', sans-serif;
    left: 670px;
    width: 250px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 600;
}
.container{
    max-width: 100%;
}
.proposition{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.proposition h3{
    font-size: 19px;
}
.proposition h2{
    font-weight: 700;
}
.proposition-choice{
    margin: 50px 0 50px;
}
.proposition-choice a{
    background: #F9F9F9;
    border: 3px solid #F9F9F9;
    box-sizing: border-box;
    font-size: 22px;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    box-shadow: 5px 5px 5px black;
}

.item-link{
    display: flex;
    margin-left: 140px;
}
.item{
    margin-left: 53px;
    margin-bottom: 30px;
}
.item-img img{
    width: 350px;
}
.img-description{
    position: relative;
    top: -80px;
    font-size: 26px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.item-img img:hover{
    transform: scale(1.2);
}
.img-description:hover{
    text-decoration: underline;
}
.our-propose{
    background: url(double-bubble-dark.png), #333333;
    padding : 50px 50px ;
}
.propose p{
    color:#fff;
    font-size: 18px;
}
.propose .propose-title{
    font-size: 26px;
}
.propose-description{
    font-size: 18px;
    margin-bottom: 50px;
}
.propose a{
    margin-left: 650px;
    width: 150px;
    border-radius: 15px;
}
.tips-titles{
    font-family: 'Montserrat', sans-serif;
    margin: 50px 0 ;
}
.tips-titles .titles-one{
    font-size: 19px;
}
.tips-titles .titles-second{
    font-size: 19px;
    font-weight: 600;
}
.tips-items{
    display: flex;
    margin-left: 150px;
}
.tips-img{
    margin-left: 50px;
    
}
.tips-img:hover{
    transform: scale(1.2);
}
.tips-items p{
    position: relative;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    top: -80px;
}
.tips-items p:hover{
    text-decoration: underline;
}
footer li a{
    color:#000;
}