header{
   background-color: #f5ece6;
   font-size: 22px;
   font-weight: 400;
   font-family: 'Palanquin Dark', sans-serif;
}
html ,body{
   margin: 0;
   background-attachment: fixed;
   background-color: #f5ece6;
}
footer{
   background-color: #f5ece6;
}

.intro .navbar-brand{
   font-family: 'Palanquin Dark', sans-serif;
   font-size: 38px;
   font-weight: 700;
   margin-left:20px;
   color: #593316 ;
}


.d-flex a:hover{
   color:#747474;
   text-decoration: underline;
}

.d-flex a{

   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   font-weight: 400;
   margin-right:47px;
   color: #593316;
}

.basket-product{
   padding:10px;
   margin: 50px auto;
   width: 1300px;
   display: flex;
   justify-content: space-between;
   border: thick double #f5ece6;
}
.items{
   display: flex;
}
.items1 p{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   margin-top: 120px;

}
.items img{
   width: 280px;
   border-radius: 20px;
}
.items-description{
   margin-left: 40px;
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
}
.items-description p{
   padding-top: 20px;
   font-size: 18px;
   color:#808080;
}
.items-description .name-product{
   padding-top: 20px;
   font-size: 22px;
   color:#000;
   font-weight: 700;
}
.items-description p span{
   padding-top: 20px;
   font-size: 22px;
   color:#000;
   margin-left: 20px;
}
footer li a{
   color:#000;
}